{% extends 'base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
<ul class="nav nav-pills sticky-top bg-white nav-fill">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{index.html}">
      <span style="font-weight: bold;">Главная</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{top_sellers.html}">
      <span style="font-weight: bold;">Топ продавцов</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{place_advertisement.html}">
      <span style="font-weight: bold;">Разместить объявление</span>
    </a>
  </li>
</ul>
<div id="carouselExampleControls" class="carousel slide bg-primary" data-bs-ride="carousel">
</div>
{% endblock %}
